.site-header {
  border-top: 4px solid #7569DE;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
}

.site-header__container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.site-header__logo {
  display: block;
  margin-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s ease;
}

.site-header__logo:hover {
  opacity: 0.8;
}

.site-header__logo:active {
  opacity: 0.6;
}

.site-header__logo-img {
  display: inline-block;
  vertical-align: baseline;
  max-width: 224px;
  height: 56px;
}

.site-header__nav-list {
  @include reset-list;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.site-header__nav-item {
  margin-right: 32px;
}

.site-header__nav-item:last-child {
  margin-right: 0;
}

.site-header__nav-link {
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #5D748A;
  transition: 0.3s ease;
}

.site-header__nav-link:hover {
  opacity: 0.8;
}

.site-header__nav-link:active {
  opacity: 0.6;
}

.site-header__right-list {
  @include reset-list;
  display: flex;
  align-items: center;
}

.site-header__right-item {
  margin-right: 24px;
}

.site-header__right-item:last-child {
  margin-right: 0;
}

.site-header__section {
  border: none;
  display: flex;
  align-items: center;
  background-image: url("../images/icons-language.svg");
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 26px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #5D748A;
}

.site-header__option {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #5D748A;
}

.site-header__right-box {
  display: flex;
  align-items: center;
}

.site-header__right-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 8px 16px;
  border: 2px solid orangered;
  border-radius: 24px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #5D748A;
  transition: 0.3s ease;
}

.site-header__right-button:hover {
  opacity: 0.8;
}

.site-header__right-button:active {
  opacity: 0.6;
}

.site-header__right-button::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url("../images/Vector.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-btn {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 18px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-right: 25px;
}

.menu-btn__burger {
  width: 25px;
  height: 2px;
  background-color: orangered;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  &::before,&::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: orangered;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  &::before{
    transform: translateY(-5px);
  }
  &::after {
    transform: translateY(5px);
  }
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-10px);
  background-color: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(10px, -10px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(10px, 10px);
}

@include breakpoint-down (1278) {
  .site-header__logo {
    margin-right: 0;
  }
  .site-header__nav-list {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  .site-header__nav--open {
    display: block;
  }
  .site-header__nav--open .site-header__nav-list{
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 0 0 30px 150px;
  }
  .site-header__nav--open .site-header__right-list {
    display: none;
  }
}

@include breakpoint-down (934) {
  .site-header__nav--open .site-header__nav-list{
    padding: 0 0 30px 100px;
  }
}

@include breakpoint-down (879) {
  .site-header__nav--open .site-header__nav-list{
    padding: 0 0 30px 20px;
  }
}

@include breakpoint-down (800) {
  .site-header__nav--open .site-header__nav-list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-top: 50px;

  }
  .site-header__nav--open .site-header__nav-item{
    margin-right: 0;
    margin-bottom: 13px;
  }
}

@include breakpoint-down (553) {
  .site-header__nav--open .site-header__nav-list{
    padding-bottom: 50px;
  }
  .site-header__right-list {
    display: none;
  }
  .menu-btn {
    margin-right: 0;
  }
  .site-header__right-box--open {
    display: block;
  }
  .site-header__right-box--open .site-header__right-list {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    top: 439px;
    padding-bottom: 33px;
    padding-left: 187px;
    background: rgba(255, 255, 255, 0.8);
  }
}
